@model IEnumerable<WebApplication2.Models.Entero>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Entero")<br />  
    <span style="color:black">@ViewBag.Mostrar</span><br />
    <span style="color:black">@ViewBag.Show</span><br />  
    @Html.ActionLink("Mostrar postorden", "Post", "Entero")<br />
    @Html.ActionLink("Mostrar Intorden", "In", "Entero")<br />
    @Html.ActionLink("Mostrar preOrden", "Pre", "Entero")
</p>
