@model IEnumerable<WebApplication2.Models.Pais>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")<br />
    <span style="color:black">@ViewBag.Mostrar</span><br />   
    <span style="color:black">@ViewBag.Show</span><br />  
    @Html.ActionLink("Recorrido PostOrden", "POST")<br />
    @Html.ActionLink("Recorrido PreOrden", "Pre")<br />
    @Html.ActionLink("Recorrido InOrden", "In")<br />
</p>

